<div class="comments">
    <div class="card">
        <section class="comment card-body">
            <div class="text">
                {{body}}
            </div>
            <div class="meta">
                from: {{user.username}}, posted: {{format_date created_at}}
            </div>
        </section>
    </div>
</div>