<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tech BLOG!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="/vendor/materialize/css/materialize.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <label class="brand-logo cust-label"> 
        <h1 class="cust-banner">
          <a href="/">Aggregate Tech Blogging</a>
        </h1>
      </label>
    <nav class="cust-nav">
          <div class="nav-wrapper">
           
            <a href="#" data-target="mobile-menu" class="sidenav-trigger cust-glow">
              <i class="material-icons cust-glow">menu</i>
            </a>
            <ul id="nav-desktop" class="right hide-on-med-and-down cust-glow">
              <li><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
<!-- Conditionally render login or logout links -->
              {{#if logged_in}}
                <li><a href="/blogs/new">Create Blog</a></li>
                <li><a href="#" id="logout">Logout</a></li>
              {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              {{/if}}
            </ul>
          </div>
    </nav>
    <ul class="sidenav cust-glow" id="mobile-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
<!-- Conditionally render login or logout links -->
              {{#if logged_in}}
                <li><a href="/blogs/new">Create Blog</a></li>
                <li><a href="#" id="navlogout">Logout</a></li>
              {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              {{/if}}
    </ul>
    </header>
    <main class="container container-fluid mt-5">
<!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" integrity="sha512-Vp2UimVVK8kNOjXqqj/B0Fyo96SDPj9OCSm1vmYSrLYF3mwIOBXh/yRZDVKo8NemQn1GUjjK0vFJuCSCkYai/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/vendor/materialize/js/materialize.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>
