:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark-purple: #161032ff;
    --canary: #faff81ff;
    --gray: rgb(208, 208, 209);
    --shadow: rgba(179, 181, 187, 0.452);
    --chocolate-web: #e06d06ff;
    --dark-slate-gray: #3f5e5aff;
    --midnight-green-eagle-green: #0d5c63ff;
    --polished-pine: #70a288ff; 
}

.cust-nav{
    color: var(--white);
    background-color: var(--dark-purple);
}

body{
    font-family: 'Inconsolata', monospace;
    background-color: var(--gray);
}

.cust-glow :hover {
    text-shadow: 2px 2px 5px var(--shadow);
    color: var(--chocolate-web);
}

.cust-banner {
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 2px 2px 12px var(--shadow), 2px 2px 15px var(--shadow);
    color: var(--midnight-green-eagle-green);
    animation: mymove 5s infinite;
}

.cust-banner a{
    color: var(--white);
}

.cust-banner a:hover{
    color: var(--canary);
}


.card-content a{
    color: var(--chocolate-web);
}

.card-content a:hover{
    color: var(--canary);
}

.cust-label {
    background-color: var(--polished-pine);
    min-width: 100%;
}

.warning-btn{
    background-color: var(--red);
}

@keyframes mymove {
    50% {text-shadow: 8px 12px 20px var(--dark-slate-gray);}
}